@{
    ViewData["Title"] = "Distritos de Portugal";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a class="display-4" href="/Distritos/MostrarDistritos">Mostrar os Distritos</a>
</div>