@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <br />
    <div>
        <h3 class="display-4">Metodo Saudaçao</h3>
        <a class="display-5" href="/Produtos/Saudacao">Abrir Saudação</a>
    </div>
    <br />
    <div>
        <h3 class="display-4">Metodo ProdutosEmJson</h3>
        <a class="display-5" href="/Produtos/ProdutosEmJson">Abir Produtos em Json</a>
    </div>
    <br />
    <div>
        <h3 class="display-4">Metodo ToAnotherView</h3>
        <a class="display-5" href="/Produtos/ToAntother">Abrir Redirect to Another View</a>
    </div>


</div>
